<!DOCTYPE html>
<html>
<head>
  <title>Сергей Аранышев</title>
  <%= stylesheet_link_tag "bbb" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
